{% extends 'shared/_layout.html' %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-md-9">
                    <div class="login-form"><!--sign up form-->
                        <h2>تغغیر کلمه عبور</h2>
                        <form method="post" action="{% url 'change_password_page' %}">
                            {% csrf_token %}

                            {{ change_pass_form.current_password }}
                            {{ change_pass_form.current_password.errors }}

                            {{ change_pass_form.password }}
                            {{ change_pass_form.password.errors }}

                            {{ change_pass_form.confirm_password }}
                            {{ change_pass_form.confirm_password.errors }}

                            <button type="submit" class="btn btn-default">تغییر کلمه عبور</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
                <div class="col-md-3">
                    {% include 'user_module/includes/user_panel_menu_component.html' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}