{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% block title %}
    {{ site_setting.site_name }}
{% endblock %}

{% block content %}
    {% include 'home_module/includes/slider_section.html' with sliders=sliders %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-right">
                    {% include 'home_module/includes/latest_products_section.html' with latest_products=latest_products %}
                    {% include 'home_module/includes/most_visit_products_section.html' with most_visit_products=most_visit_products %}
                    {% include 'home_module/includes/most_bought_products_section.html' with most_bought_products=most_bought_products %}
                    {% include 'home_module/includes/categories_products_section.html' with categories_products=categories_products %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}