<div class="tab-pane fade" id="reviews">
    <div class="col-sm-12">
        <ul>
            <li><a href=""><i class="fa fa-user"></i>مشتـری 1</a></li>
            <li><a href=""><i class="fa fa-clock-o"></i>12:41 ب . ظ</a></li>
            <li><a href=""><i class="fa fa-calendar-o"></i>29 تیـر 1397</a></li>
        </ul>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده ازلورملورم
            ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
            جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
            ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
        <p><b>نظـر خود را بنویسیـد</b></p>

        <form action="#">
										<span>
											<input type="text" placeholder="نام و نام خانوادگـی"/>
											<input type="email" placeholder="آدرس ایمیـل"/>
										</span>
            <textarea name=""></textarea>
            <b>رتبـه : </b> <img src="/static/images/product-details/rating.png" alt=""/>
            <button type="button" class="btn btn-default pull-left">
                ارسـال
            </button>
        </form>
    </div>
</div>