<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'user_panel_dashboard_page' %}">پنل کاربری</a></li>
    <li class="list-group-item"><a href="{% url 'edit_user_profile_page' %}">ویرایش حساب کاربری</a></li>
    <li class="list-group-item"><a href="{% url 'user_basket_page' %}">سبد خرید</a></li>
    <li class="list-group-item"><a href="{% url 'last_orders_page' %}">لیست خرید های قبلی</a></li>
    <li class="list-group-item"><a href="{% url 'change_password_page' %}">تعویض رمز عبور</a></li>
    <li class="list-group-item"><a href="{% url 'logout_page' %}">خروج</a></li>
</ul>